﻿<div class="flex">
    <div class="box"><a href="@ViewBag.SocialMediaLinks.Facebook">Facebook</a></div>

    <environment exclude="Development">
        <div class ="box"><a href="@ViewBag.SocialMediaLinks.Instagram">Instagram</a></div>
    </environment>

    <div class="box"><a href="@ViewBag.SocialMediaLinks.Twitter">Twitter</a></div>

    <div class="box"><a href="@ViewBag.SocialMediaLinks.Youtube">Youtube</a></div>
</div>